@import '../../scss/function';

.pro-index {
    background: #fff;
    padding: 0 30px;
    .search{
        border-radius: 36px;
        background: rgb(249, 249, 249);
        padding: 10px 40px;
        margin-top: 10px;
        .img{
            height: 35px;
            width: 32px;
            display: inline-block;
            // position: absolute;
            // top: 28px;
        }
    }
    .list{
        .item{
            padding: 30px 0;
            border-bottom: 1px solid #eeeeee;   
            .title{
                color: #333333;
                font-size: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            .content{
                padding-top: 20px;
                display: flex;
                .info{
                    display: inline-block;
                    flex: 10;
                    .text{
                        color: #999999;
                        font-size: 32px;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 2;
                        overflow: hidden;
                        margin-bottom: 30px;
                        letter-spacing: 4px;
                    }
                    .bottom{
                        display: flex;
                        justify-content: space-between;
                        font-size: 28px;
                        color: #AAAAAA;
                        .left{
                            display: inline-block;
                            .icon{
                                display: inline-block;
                                height: 34px;
                                width: 34px;
                                padding-right: 12px;
                                transform: translateY(5px);
                            }
                            .point{
                                padding: 0 7px;
                            }
                        }
                        .read{
                            transform: translateY(4px);
                        }
                    }
                }
                .img{
                    display: inline-block;
                    width: 226px;
                    height: 163px;
                    padding-left: 30px;
                    flex: 5;
                    border-radius: 10px;
                }
            }
        }
    }
}