
  .info-list {
    padding: 28px;
    font-size: 28px;
    color: #999;
    clear: both;
    overflow: hidden;
  }

  .item {
    float: left;
    margin-bottom: 28px;
  }
  
  .title {
    min-width: 140px;
    color: #333;
  }
  .rule-box{
    .layout-body{
      padding: 0px;
    }
  }